html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1, h4, p {
    text-align: center;
    margin: 0;
}

.toppings {
    position: absolute;
    width: 100%;
    height: 20%;
    max-height: 20%;
    text-overflow: inherit;
    background-color: coral;
}

#upperText {
    font-size: 30px;
}

#headingLeft {
    position: absolute;
    height: 100%;
    width: 80%;
}

#headingRight {
    position: absolute;
    right: 10%;
    height: 100%;
}

.container {
    position: absolute;
    width: 100%;
    top: 20%;
    height: 80%;
    background-color: brown;
}

.container>img {
    width: 15%;
    position: absolute;
    height: 40%;
}

.topImage {
    left: 40%;
    top: -40%;
    opacity: 0;
    animation: myAnimationForTop 3s linear 1 forwards;
}

@keyframes myAnimationForTop {
    to {
        opacity: 1;
        top: 5%;
    }
}

.leftImage {
    opacity: 0;
    top: 40%;
    left: -10%;
    animation: myAnimationForLeft 3s linear 1 forwards;
}

@keyframes myAnimationForLeft {
    to {
        left: 20%;
        opacity: 1;
    }
}

.rightImage {
    opacity: 0;
    top: 40%;
    right: -10%;
    animation: myAnimationForRight 3s linear 1 forwards;
}

@keyframes myAnimationForRight {
    to {
        right: 25%;
        opacity: 1;
    }
}

.scaleanim{
    animation: sca 0.8s linear 0s infinite alternate;
}

@keyframes sca {
    from {transform: scale(1.0);}
    to{transform: scale(1.1);}
}