html, body {
	margin: 0;
	height: 100%;
	width: 100%;
    min-width: 60%;
    overflow: inherit;
}

#draggable {
	position: absolute;
	height: 60%;
	width: 100%;
	background: #AA7755;
}

#dropable {
	position: absolute;
	height: 40%;
	width: 100%;
    top:60%;
	background-color: #AAEE77;
}
.box, .triangle,.circle {
	position: absolute;
	width: 12%;
	background-repeat: no-repeat;
}

.box > img, .circle > img, .triangle>img {
	display: inline-block;
	width: 80%;
}

#iscircle,#isbox,#istriangle{
    position: absolute;
    width: 20%;
}

#iscircle > img, #isbox > img,#istriangle>img {
	display: inline-block;
	width: 80%;
    height: 30%;
    max-width: 100%;
}

#circle1 {
    top:5%;
    left:5%;
}

#circle2 {
    top: 50%;
    left: 35%;
}

#circle3 {
    top: 5%;
    left:35%;
}

#circle4 {
    top:50%;
    left:5%;
}

#triangle1 {
    top:50%;
    left:50%;
}

#triangle2 {
    top: 5%;
    left:65%;
}

#triangle3 {
    top: 50%;
    left:80%;
}

#triangle4 {
    top: 5%;
    left:20%;
}

#box1 {
    top: 50%;
    left:20%;
}

#box3 {
    top:5%;
    left:80%;
}

#box2 {
    top: 50%;
    left:65%
}

#box4 {
    top:5%;
    left:50%
}

#iscircle {
    top:5%;
    left: 10%;
}

#istriangle{
    top:5%;
    left: 40%
}

#isbox{
    top:5%;
    left: 70%
}